<div class="spacing">
  <div class="tm-container masonry">


    <div class="item tm-bg-white tm-block tm-block-left" data-desktop-seq-no="1" data-mobile-seq-no="1">
      <p class="tm-hero-text">
        <%= all_data_per_page.under_h1 %>
      </p>

      <header class="tm-block-brand">
        <div class="tm-bg-primary-dark tm-text-white tm-block-brand-inner">
          <i class="fas fa-braille fa-3x"></i>
          <h1 class="tm-brand-name">
            <%= all_data_per_page.title %>
          </h1>
        </div>
      </header>


    </div>



    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2638.9727745223227!2d-75.81674592372723!3d45.442555671073535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce03b78863af8f%3A0x24f8efa5caa589df!2sPavage%20Gatineau%20Asphalte%20Gatineau%20Earnanswers!5e1!3m2!1sen!2sca!4v1731688736415!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->



    <div class="item" data-desktop-seq-no="2" data-mobile-seq-no="4">
      <!-- <img src="/img2/image-01.jpg" alt="Image" class="tm-img-left"> -->
      <img src="/img2/image-01.webp" alt="Image" class="tm-img-left">

    </div>
    <div class="item tm-bg-secondary tm-text-white tm-block tm-block-wider tm-block-pad tm-block-left-2"
      data-desktop-seq-no="3" data-mobile-seq-no="5">
      <i class="fas fa-award fa-4x tm-block-icon"></i>
      <%- all_data_per_page.brochure_text1 %>
        <div class="tm-text-right">
          <!-- <a href="#" class="tm-btn tm-btn-small tm-btn-primary tm-mt">Read More</a> -->
          <a href="tel:<%= business_data.telephone2 %>" class="tm-btn tm-btn-small tm-btn-primary tm-mt">
            <%= business_data.telephone %>
          </a>
        </div>
    </div>
    <div class="item" data-desktop-seq-no="4" data-mobile-seq-no="8">
      <img src="/img2/road1.webp" alt="Image" class="tm-img-left">
    </div>


    <div class="tm-footer" id="tmFooter" data-desktop-seq-no="5" data-mobile-seq-no="9">
      <a href="<%= footer.legal_disclaimer_path %>">
        <img src="/img2/ea_logo300.webp" alt="QR Code" class="tm-img-qr">
      </a>
      <div>
        <p class="tm-mb-small">Copyright © 2024 </p>
        <p>
          <%= footer.powered %> <a target="_blank" href="https://earnanswers.com">Earnanswers</a>
        </p>

      </div>
    </div>


    <div class="item" data-desktop-seq-no="6" data-mobile-seq-no="2">

      <!-- <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11197.409341619581!2d-75.82447068549513!3d45.44255567107353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce03b78863af8f%3A0x24f8efa5caa589df!2sPavage%20Gatineau%20Asphalte%20Gatineau%20Earnanswers!5e0!3m2!1sen!2sca!4v1731689440276!5m2!1sen!2sca"
        width="600" height="900" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe> -->

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d98498.12882491873!2d-73.87898526508394!3d45.591607627663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc927dc9816a399%3A0xa839c8f5ff003852!2sPavage%20Asphalte%20Laval%20Montreal%20Earnanswers!5e0!3m2!1sen!2sca!4v1735398055893!5m2!1sen!2sca" width="600" height="900" style="border:0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>




    <div class="item tm-block-right" data-desktop-seq-no="7" data-mobile-seq-no="3">
      <div class="tm-block-right-inner tm-bg-primary-light tm-text-white tm-block tm-block-wider tm-block-pad">
        <header>
          <span class="tm-text-uppercase">
            <%= welcome_section.op1 %>
          </span>
        </header>

        <div itemscope itemtype="https://schema.org/Organization">
          <a rel="nofollow" href="<%= welcome_section.op1_link %>" itemprop="url">
            <%= business_data.street_address %>
              <%= business_data.address_city %>, <%= business_data.address_province_state %>
                  <%= business_data.postal_code %>
                    <%= business_data.address_country %>
          </a>
        </div>

        <div>
          <a style="text-decoration: underline;" href="<%= welcome_section.op2_link %>">
            <%= welcome_section.op2 %>
          </a>
        </div>
      </div>
    </div>








    <div class="item" data-desktop-seq-no="8" data-mobile-seq-no="6">
      <img src="/img2/people1.webp" alt="Image">
    </div>

    <div class="item tm-bg-white tm-block tm-form-section" data-desktop-seq-no="9" data-mobile-seq-no="7">
      <div class="tm-form-container tm-block-pad tm-pb-0">


        <header>
          <h2 class="tm-text-uppercase tm-text-gray-light tm-mb">
            <%= contact_form_data.h2_1 %>
          </h2>
        </header>

        <form class="tm-contact-form" id="tmContactForm">
          <div class="tm-form-group">
            <input type="text" id="contact_name" name="contact_name" class="form-control"
              placeholder="<%= contact_form_data.placeholder_name %>" required />
          </div>
          <div class="tm-form-group">
            <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email"
              required />
          </div>
          <div class="tm-form-group">
            <input type="tel" id="contact_phone" name="contact_phone" class="form-control" placeholder="Telephone"
              pattern="^\+?1?\d{10,15}$" required />
            <div class="side-note-form">
              <%= contact_form_data.valid_format %> 9991234444 & +19991234444</span>
            </div>
          </div>


          <div class="tm-form-group">
            <textarea rows="4" id="contact_message" name="contact_message" class="form-control"
              placeholder="<%= contact_form_data.placeholder_message %>" required></textarea>
          </div>
          
          <div class="tm-text-right">
            <button type="submit" class="tm-btn tm-btn-secondary tm-btn-pad-big">
              <%= contact_form_data.button %>
            </button>
          </div>

        </form>

        <script src="/js/contact-form-js.js"></script>

      </div>

      <div class="tm-form-section-tag">
        <div class="tm-bg-secondary tm-text-white tm-block-pad tm-form-section-tag-inner">
          <%- all_data_per_page.brochure_text2 %>
        </div>
      </div>
    </div>

  </div>
</div>

</div>

<%- include('../js/site2-scripts.ejs') %>