<div id="page-content">
  <div class="padding1">

    <h2><%= plan_du_site_page.h2_1 %></h2>
    <h3><%= plan_du_site_page.h3_1 %></h3>


    <ul>
      <% all_pages.forEach(function(page) { %>
        <% if (page.id !== 8) { %> <!-- Skip Blog -->
          <li><a href="<%= page.page_url_identify %>"><%= page.title %></a></li>
        <% } %>
      <% }); %>



      <li>Service
        <ul>

          <% main_service_data.forEach(function(service) { %>
            <li><a href="/service/<%= service.slug %>"><%= service.service_name %></a></li>
          <% }); %>


          <% extra_service_pages.forEach(function(page) { %>
            <li><a href="/service/<%= page.slug %>"><%= page.title %></a></li>
          <% }); %>
        </ul>
      </li>

      <li><a href="<%= all_pages[4].page_url_identify %>"><%= all_pages[4].title %></a>

        <ul>
          <% Object.keys(categories_and_associated_blogs).forEach(function(categoryName) { %>
            <li><%= categoryName %>
              <ul>
                <% categories_and_associated_blogs[categoryName].blogs.forEach(function(blog) { %>
                  <li><a href="/blog/<%= categories_and_associated_blogs[categoryName].categorySlug %>/blog-posting/<%= blog.slug %>"><%= blog.title %></a></li>
                <% }); %>
              </ul>
            </li>
          <% }); %>
        </ul>



      </li>
      <li><a href="<%= all_pages[7].page_url_identify %>"><%= all_pages[7].title %></a></li>
    </ul>

    <h3><%= plan_du_site_page.h3_2 %></h3>
    <ul>
      <li><a href="/sitemap/sitemap-3" target="_blank">Update Sitemap</a></li>

      <li><a href="/sitemap/sitemap.xml" target="_blank"><%= plan_du_site_page.h3_2 %></a></li>
    </ul>



  </div>
</div>