
<!-- Welcome Text -->
<!-- White transparent bg -->

<div class="col-md-7 tm-welcome-left-col">
  <div class="tm-welcome-left">
    <span class="tm-welcome-title"><%= welcome_section.op1 %></span>
    <p class="pb-0" itemscope itemtype="https://schema.org/Organization">
      <a rel="nofollow" href="/organisation" itemprop="url"><%= business_data.street_address %>
        <%= business_data.address_city %>, <%= business_data.address_province_state %>
        <%= business_data.postal_code %>
        <%= business_data.address_country %>
      </a>
    </p>

    <div>
      <!-- <a style="text-decoration: underline;" href="#/extra-link">Extra link</a> -->
      <a style="text-decoration: underline;" href="/a-propos"><%= welcome_section.op2 %></a>
    </div>


  </div>
</div>




<!-- Brown bg -->
<div class="col-md-5">
  <a href="/organisation">
    <div class="tm-welcome-right"
      aria-label="<%= welcome_section.map_img_alt %>">
      <img src="/img/map1_op.avif"
        alt="<%= welcome_section.map_img_alt %>" style="display:none;">
    </div>
  </a>

</div>