<!DOCTYPE html>
<%- include('html/html-tag.ejs') %>

<head>

  <%- include('head/setup-pre-variables.ejs') %>

  <%- include('head/load-backend-variables/variables.ejs') %>

  <%- include('head/head-common-part1.ejs') %>

  <%- include('head/meta/meta-title-can.ejs') %>
  
  <%- include('head/css-loader/css.ejs') %>

  <%- include('head/schema-loader/schema.ejs') %>

  <%- include('head/meta/meta-lang-loader.ejs') %>

  <%- include('head/alt-lang-page-setter/alt-lang-page.ejs') %>
</head>







<body class="tm-bg-dark">


  <%- include('body/nav.ejs') %>



  <main>
    <!-- <h1>Hello</h1> -->
  
    <!-- site 1 -->
    <!-- < %- include('body/scafold_1/views-index-body.ejs') %> -->
  
    <%- include('body2/brochure.ejs') %>


    <%- include('body2/main-services.ejs') %>


    <div id="container">

      <% review_data.forEach(function(review) { %>
        
        <div class="review-item">
  
          <p>
            <%= review.review_body %>
          </p>
  
          <p class="mb-0">
            <%= review.name %>
          </p>
  
  
          <div class="star-rating">
            <div class="stars-<%= Math.floor(review.rating_value) %>">
              <% for(let i = 1; i <= 5; i++) { %>
                <span class="star <%= i <= Math.floor(review.rating_value) ? 'filled' : (i === Math.ceil(review.rating_value) && review.rating_value % 1 !== 0 ? 'half-filled' : '') %>">★</span>
              <% } %>
            </div>
          </div>

          <div class="svg-wrapper"></div>
          <div class="svg-wrapper2"></div>

        </div>
  
      <% }); %>

    </div>






  </main>








  <%- include('footer/footer.ejs') %>




  </body>


</html>