<!DOCTYPE html>
<%- include('html/html-tag.ejs') %>

<head>

  <%- include('head/setup-pre-variables.ejs') %>
  
  <%- include('head/load-backend-variables/variables.ejs') %>
  
  <%- include('head/head-common-part1.ejs') %>
  
  <%- include('head/meta/meta-title-can.ejs') %>
  
  <%- include('head/css-loader/css.ejs') %>
  
  <%- include('head/schema-loader/schema.ejs') %>

  <%- include('head/meta/meta-lang-loader.ejs') %>

  <%- include('head/alt-lang-page-setter/alt-lang-page.ejs') %>
</head>








<body class="tm-bg-dark">


  <%- include('body/nav.ejs') %>


  <main id="body">

    
    <!-- <h1>Hello</h1> -->

    <!-- site 1 -->
    <!-- < %- include('body/scafold-1/views-organisation.ejs') %> -->

    <%- include('body2/organisation.ejs') %>
    
    <%- include('body2/brochure.ejs') %>


  </main>


  <%- include('footer/footer.ejs') %>


</body>



</html>