<% if (req_path === '/' || req_path === '/en') { %>


  <script>

    var business_data = <%- JSON.stringify(business_data) %>;
    var review_data = <%- JSON.stringify(review_data) %>;
    var main_service_data = <%- JSON.stringify(main_service_data) %>;
    var blog_elements = <%- JSON.stringify(blog_elements) %>;
    var extra_service_pages = <%- JSON.stringify(extra_service_pages) %>;



    // var all_data_per_page_fr = < %- JSON.stringify(all_data_per_page_fr) %>;
    // var nav_fr = < %- JSON.stringify(nav_fr) %>;
    // var welcome_section_fr = < %- JSON.stringify(welcome_section_fr) %>;
    // var portfolio_section_fr = < %- JSON.stringify(portfolio_section_fr) %>;
    // var index_content_fr = < %- JSON.stringify(index_content_fr) %>;
    // var faq_fr = < %- JSON.stringify(faq_fr) %>;
    // var footer_fr = < %- JSON.stringify(footer_fr) %>;


  </script>



<% } else if (req_path === '/demande-de-devis-gratuit' || req_path === '/request-a-free-quote/en') { %>

  <script>


    // var business_data_fr = < %- JSON.stringify(business_data_fr) %>;
    // var nav_fr = < %- JSON.stringify(nav_fr) %>;
    // var welcome_section_fr = < %- JSON.stringify(welcome_section_fr) %>;
    // var all_data_per_page_fr = < %- JSON.stringify(all_data_per_page_fr) %>;
    // var footer_fr = < %- JSON.stringify(footer_fr) %>;
    // var demande_de_devis_gratuit_fr = < %- JSON.stringify(demande_de_devis_gratuit_fr) %>;


  </script>



<% } else if (req_path === '/organisation' || req_path === '/organization/en') { %>

  <script>
    var business_data = <%- JSON.stringify(business_data) %>;


    // var all_data_per_page_fr = < %- JSON.stringify(all_data_per_page_fr) %>;
    // var nav_fr = < %- JSON.stringify(nav_fr) %>;
    // var welcome_section_fr = < %- JSON.stringify(welcome_section_fr) %>;
    // var footer_fr = < %- JSON.stringify(footer_fr) %>;



  </script>


<% } else if (req_path === '/a-propos' || req_path === '/about/en') { %>


  <script>
    var all_data_per_page = <%- JSON.stringify(all_data_per_page) %>;
    var business_data = <%- JSON.stringify(business_data) %>;


    // var nav_fr = < %- JSON.stringify(nav_fr) %>;
    // var welcome_section_fr = < %- JSON.stringify(welcome_section_fr) %>;
    // var footer_fr = < %- JSON.stringify(footer_fr) %>;

  </script>





<% } else if (req_path === '/service/pavage-residentiel-et-commercial-a-gatineau' || req_path === '/service/residential-and-commercial-paving-in-gatineau/en') { %>

  <script>

    // var all_data_per_page_fr = < %- JSON.stringify(all_data_per_page_fr) %>;
    // var business_data_fr = < %- JSON.stringify(business_data_fr) %>;
    // var nav_fr = < %- JSON.stringify(nav_fr) %>;
    // var welcome_section_fr = < %- JSON.stringify(welcome_section_fr) %>;
    // var footer_fr = < %- JSON.stringify(footer_fr) %>;

  </script>



<% } else if (req_path === '/service/revetement-maintenance-en-asphalte-gatineau' || req_path === '/service/asphalt-maintenance-coating-gatineau/en') { %>

  <script>
    // var all_data_per_page_fr = < %- JSON.stringify(all_data_per_page_fr) %>;
    // var business_data_fr = < %- JSON.stringify(business_data_fr) %>;
    // var nav_fr = < %- JSON.stringify(nav_fr) %>;
    // var welcome_section_fr = < %- JSON.stringify(welcome_section_fr) %>;
    // var footer_fr = < %- JSON.stringify(footer_fr) %>;

  </script>


<% } else if (req_path === '/service/travaux-en-beton-residentiel-et-commercial-a-gatineau' || req_path === '/service/residential-and-commercial-concrete-works-in-gatineau/en') { %>



  <script>
    // var all_data_per_page_fr = < %- JSON.stringify(all_data_per_page_fr) %>;
    // var business_data_fr = < %- JSON.stringify(business_data_fr) %>;
    // var nav_fr = < %- JSON.stringify(nav_fr) %>;
    // var welcome_section_fr = < %- JSON.stringify(welcome_section_fr) %>;
    // var footer_fr = < %- JSON.stringify(footer_fr) %>;


    // console.log(footer_fr)
  </script>






<% } else if (req_path.startsWith('/service')) { %>

  <script>

  </script>






<% } else if (req_path === '/blog') { %>
  <script>

  </script>




  
<% } else if (/^\/blog\/[^\/]+\/blog-posting\/[^\/]+$/.test(req_path)) { %>

  <script>
    var blogData = <%- JSON.stringify(blogData) %>;
    var business_data_fr = <%- JSON.stringify(business_data_fr) %>;

  </script>



  <!-- <p>/^\/blog\/[^\/]+\/blog-posting\/[^\/]+$/.test(req_path)</p> -->


<% } else if (req_path.startsWith('/blog')) { %>

  <script>

  </script>
  <!-- <p>/blog</p> -->


<% } else if (req_path === '/plan-du-site') { %>
  
  <script>

  </script>



<% } else { %>
  <p>Status is unknown. 1</p>
<% } %>
