<% if (req_path === '/') { %>
  <script>
    var business_data_fr = <%- JSON.stringify(business_data_fr) %>;
    var review_data_fr = <%- JSON.stringify(review_data_fr) %>;
    var main_service_data_fr = <%- JSON.stringify(main_service_data_fr) %>;
    var blog_elements_fr = <%- JSON.stringify(blog_elements_fr) %>;
    var extra_service_pages_fr = <%- JSON.stringify(extra_service_pages_fr) %>;



    // var all_data_per_page_fr = < %- JSON.stringify(all_data_per_page_fr) %>;
    // var nav_fr = < %- JSON.stringify(nav_fr) %>;
    // var welcome_section_fr = < %- JSON.stringify(welcome_section_fr) %>;
    // var portfolio_section_fr = < %- JSON.stringify(portfolio_section_fr) %>;
    // var index_content_fr = < %- JSON.stringify(index_content_fr) %>;
    // var faq_fr = < %- JSON.stringify(faq_fr) %>;
    // var footer_fr = < %- JSON.stringify(footer_fr) %>;


  </script>



<% } else if (req_path === '/demande-de-devis-gratuit') { %>

  <script>


    // var business_data_fr = < %- JSON.stringify(business_data_fr) %>;
    // var nav_fr = < %- JSON.stringify(nav_fr) %>;
    // var welcome_section_fr = < %- JSON.stringify(welcome_section_fr) %>;
    // var all_data_per_page_fr = < %- JSON.stringify(all_data_per_page_fr) %>;
    // var footer_fr = < %- JSON.stringify(footer_fr) %>;
    // var demande_de_devis_gratuit_fr = < %- JSON.stringify(demande_de_devis_gratuit_fr) %>;


  </script>



<% } else if (req_path === '/organisation') { %>

  <script>
    var business_data_fr = <%- JSON.stringify(business_data_fr) %>;


    // var all_data_per_page_fr = < %- JSON.stringify(all_data_per_page_fr) %>;
    // var nav_fr = < %- JSON.stringify(nav_fr) %>;
    // var welcome_section_fr = < %- JSON.stringify(welcome_section_fr) %>;
    // var footer_fr = < %- JSON.stringify(footer_fr) %>;



  </script>


<% } else if (req_path === '/a-propos') { %>


  <script>
    var all_data_per_page_fr = <%- JSON.stringify(all_data_per_page_fr) %>;
    var business_data_fr = <%- JSON.stringify(business_data_fr) %>;


    // var nav_fr = < %- JSON.stringify(nav_fr) %>;
    // var welcome_section_fr = < %- JSON.stringify(welcome_section_fr) %>;
    // var footer_fr = < %- JSON.stringify(footer_fr) %>;

  </script>




<% } else if (req_path === '/service/pavage-residentiel-et-commercial-a-gatineau') { %>

  <script>

    // var all_data_per_page_fr = < %- JSON.stringify(all_data_per_page_fr) %>;
    // var business_data_fr = < %- JSON.stringify(business_data_fr) %>;
    // var nav_fr = < %- JSON.stringify(nav_fr) %>;
    // var welcome_section_fr = < %- JSON.stringify(welcome_section_fr) %>;
    // var footer_fr = < %- JSON.stringify(footer_fr) %>;

  </script>

<% } else if (req_path === '/service/revetement-maintenance-en-asphalte-gatineau') { %>

  <script>
    // var all_data_per_page_fr = < %- JSON.stringify(all_data_per_page_fr) %>;
    // var business_data_fr = < %- JSON.stringify(business_data_fr) %>;
    // var nav_fr = < %- JSON.stringify(nav_fr) %>;
    // var welcome_section_fr = < %- JSON.stringify(welcome_section_fr) %>;
    // var footer_fr = < %- JSON.stringify(footer_fr) %>;

  </script>


<% } else if (req_path === '/service/travaux-en-beton-residentiel-et-commercial-a-gatineau') { %>
  <script>
    // var all_data_per_page_fr = < %- JSON.stringify(all_data_per_page_fr) %>;
    // var business_data_fr = < %- JSON.stringify(business_data_fr) %>;
    // var nav_fr = < %- JSON.stringify(nav_fr) %>;
    // var welcome_section_fr = < %- JSON.stringify(welcome_section_fr) %>;
    // var footer_fr = < %- JSON.stringify(footer_fr) %>;


    // console.log(footer_fr)
  </script>






<% } else if (req_path.startsWith('/service')) { %>

  <script>

  </script>






<% } else if (req_path === '/blog') { %>
  <script>

  </script>

  
<% } else if (/^\/blog\/[^\/]+\/blog-posting\/[^\/]+$/.test(req_path)) { %>

  <script>
    var blogData = <%- JSON.stringify(blogData) %>;
    var business_data_fr = <%- JSON.stringify(business_data_fr) %>;

  </script>



  <!-- <p>/^\/blog\/[^\/]+\/blog-posting\/[^\/]+$/.test(req_path)</p> -->


<% } else if (req_path.startsWith('/blog')) { %>

  <script>

  </script>
  <!-- <p>/blog</p> -->





<% } else { %>
  <p>Status is unknown. 1</p>
<% } %>
