<!DOCTYPE html>
<!-- cant place alt lang page -->
<%- include('html/html-tag.ejs') %>



  <head>

    <%- include('head/setup-pre-variables.ejs') %>

    <%- include('head/load-backend-variables/variables.ejs') %>

    <%- include('head/head-common-part1.ejs') %>

    <%- include('head/meta/meta-title-can.ejs') %>

    <%- include('head/css-loader/css.ejs') %>

    <%- include('head/schema-loader/schema.ejs') %>

    <%- include('head/meta/meta-lang-loader.ejs') %>
  </head>



  <body class="tm-bg-dark">


    <%- include('body/nav.ejs') %>





      <main id="body">


        <!-- < %- include('body/scafold-1/views-blog-posting.ejs') %> -->





        <div id="page-content">
          <div class="padding1">


            <div id="blog-posting" class="col-12">
              <div>
                <div id="bar1">
                  <span class="category-template">
                    <%= blog_element.category.category_name %>
                  </span>
                  <div id="dates">
                    <span id="date-published">
                      Published: <%= new Date(blog_element.datetime_published).toLocaleDateString('en-US', {
                        year: 'numeric' , month: 'short' , day: 'numeric' }) %>
                    </span>
                    <span id="date-edited">
                        Edited: 
                        <span>
                        <%= new Date(blog_element.datetime_edited).toLocaleDateString('en-US', { year: 'numeric' ,
                        month: 'short' , day: 'numeric' }) %>
                        </span>
                    </span>
                  </div>
                </div>


                <div id="content-template" class="tm-extra-service-description"><%- blog_element.html_content %></div>
              </div>
            </div>


          </div>
        </div>



        <%- include('body2/brochure.ejs') %>



      </main>


      <%- include('footer/footer.ejs') %>



  </body>




  </html>