<!DOCTYPE html>
<%- include('html/html-tag.ejs') %>

<head>

  <%- include('head/setup-pre-variables.ejs') %>

  <%- include('head/load-backend-variables/variables.ejs') %>

  <%- include('head/head-common-part1.ejs') %>

  <%- include('head/meta/meta-title-can.ejs') %>
  
  <%- include('head/css-loader/css.ejs') %>

  <%- include('head/schema-loader/schema.ejs') %>


  <%- include('head/meta/meta-lang-loader.ejs') %>

</head>







<body>
  <div id="body">



    <%- include('body/nav.ejs') %>










    <!-- Welcome Section -->

    <section id="tmWelcome" class="parallax-window" data-parallax="scroll" data-image-src="<%= welcome_section.banner_img_path %>"
      alt="<%= welcome_section.banner_img_alt %>">

      <%- include('body/welcome-section/part1.ejs') %>









      <div class="tm-bg-black-transparent tm-welcome-container">

        <div class="container-fluid">
          <div class="row h-100">

            <%- include('body/welcome-section/part2.ejs') %>

          </div>
        </div>
      </div>
    </section>
    <!-- End Welcome section -->






    <!-- Portfolio section -->
    <section id="tmPortfolio">
      <div class="container-fluid">
        <div class="row">





          <div class="col-12">


            <% main_service_data.forEach((service, i)=> { %>



              <div class="tm-portfolio-item">
                <div class="tm-portfolio-name text-white tm-bg-green"
                  aria-label="<%= service.service_image_description %>">

                  <img src="<%= service.service_image_path %>"
                    alt="<%= service.service_image_description %>"
                    style="display:none;">

                </div>

                <style>
                  /* Select the first occurrence of the matched div */
                  section#tmPortfolio .tm-portfolio-item:nth-of-type(<%= i+1 %>) .tm-portfolio-name {
                    background-image: url('..<%= service.service_image_path %>');
                  }
                </style>


                <div class="tm-portfolio-description">
                  <h2 class="tm-text-black">
                    <%= service.service_name %>
                      <a class="tm-title-small" href="/service/<%= service.slug %>">
                        <%= portfolio_section.op1 %>
                      </a>
                  </h2>
                  <p class="mb-0">
                  <h3>
                    <%= service.service_sub_title %>
                  </h3>
                  <div><%- service.service_description %></div>
                  </p>
                </div>
              </div>
            <% }); %>





            <%
            const more_service_img_alt = "A close-up view of a driveway with a combination of asphalt and interlocking stone pavers, showing a clean transition between the two materials and bordered by a stone curb."
            %>

            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-blue"
                aria-label="<%= more_service_img_alt %>">
                <img src="/img/more_services1.webp"
                  alt="<%= more_service_img_alt %>" style="display:none;">
              </div>


              <style>
                section#tmPortfolio .tm-portfolio-item:nth-of-type(4) .tm-portfolio-name {
                  background-image: url('../img/more_services1.webp');
                }
              </style>



              <div class="tm-portfolio-description">
                <h2 class="tm-text-black">
                  <%= portfolio_section.op2 %>
                  <a class="tm-title-small" href="#">
                    <%= portfolio_section.op1 %>
                  </a>
                </h2>
                
                <p class="mb-0">
                <div>
                  <ul>
                    <% extra_service_pages.forEach(function(service) { %>
                      <li><a href="/service/<%= service.slug %>"><%= service.title %></a></li>
                    <% }); %>
                  </ul>


                </div>
                </p>
              </div>
            </div>




            <% index_content.forEach((content, i)=> { %>

              <div class="tm-portfolio-item">
                <div class="tm-portfolio-name text-white tm-bg-purple"
                  aria-label="<%= content.img_alt %>">
                  <img src="<%= content.img_path %>"
                    alt="<%= content.img_alt %>"
                    style="display:none;">
                </div>


                <style>
                  section#tmPortfolio .tm-portfolio-item:nth-of-type(<%= i+5 %>) .tm-portfolio-name {
                    background-image: url('..<%= content.img_path %>');
                  }
                </style>




                <div class="tm-portfolio-description">
                  <h2 class="tm-text-black">
                    <%= content.title %>
                    <!-- <a class="tm-title-small" href="/service/drywall-industry-overview">More details</a> -->
                  </h2>



                  <p class="mb-0">
                    <h3><%= content.sub_title %></h3>
                    <div><%= content.content %></div>
                  </p>
                </div>
              </div>

            <% }); %>










          </div>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63509.1635253364!2d-75.80609170992977!3d45.436933565835496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce028cacba247b%3A0xfe88e0713173d877!2s1700%20Chem.%20Pink%2C%20Gatineau%2C%20QC%20J9J%203N7%2C%20Canada!5e0!3m2!1sfr!2sus!4v1724431222023!5m2!1sfr!2sus" width="600" height="450" style="border:0; width: 100%; height: 450px; border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



          

        </div>
      </div>
    </section>
    <!-- End portfolio section -->





    <!-- Review section -->
    <div id="tmContact" class="parallax-window" data-parallax="scroll" data-image-src="/img/pavage_gatineau_b1.webp"
    alt="<%= welcome_section.banner_img_alt %>">

      <div class="container-fluid">

        <div class="row">
          <div class="col-12">

            <div class="tm-contact-items-container">




              <% review_data.forEach(function(review) { %>
              <div class="tm-contact-item">
                <!-- Review Text -->
                <p>
                  <%= review.review_body %>
                </p>
                <!-- Reviewer Name -->
                <p class="mb-0">
                  <%= review.name %>
                </p>

                <!-- Star Rating -->
                <div class="star-rating">
                  <div class="stars-<%= Math.floor(review.rating_value) %>">
                    <% for(let i = 1; i <= 5; i++) { %>
                      <span class="star <%= i <= Math.floor(review.rating_value) ? 'filled' : (i === Math.ceil(review.rating_value) && review.rating_value % 1 !== 0 ? 'half-filled' : '') %>">★</span>
                    <% } %>
                  </div>
                </div>

                <div class="svg-wrapper"></div>
                <div class="svg-wrapper2"></div>
              </div>
              <% }); %>


          </div>
        </div>
      </div>





        <div id="FAQ" class="row">
          <div class="col-12">
            <div class="tm-bg-darker-blue-transparent" itemscope itemtype="https://schema.org/FAQPage">
              <h2>FAQ</h2>
        
              <% faq.forEach(function(faq) { %>
                <details itemprop="mainEntity" itemscope itemtype="https://schema.org/Question">
                  <summary itemprop="name"><%= faq.id %>. <%= faq.question %></summary>
                  <div itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">
                    <span itemprop="text"><%= faq.answer %></span>
                  </div>
                </details>
              <% }); %>
        
            </div>
          </div>
        </div>
        


      </div>
    </div>









    <!-- section -->
  </div>


  <%- include('footer/footer.ejs') %>




  </body>


</html>