<!DOCTYPE html>
<%- include('html/html-tag.ejs') %>

<head>

  <%- include('head/setup-pre-variables.ejs') %>

  <%- include('head/load-backend-variables/variables.ejs') %>

  <%- include('head/head-common-part1.ejs') %>

  <%- include('head/meta/meta-title-can.ejs') %>
  
  <%- include('head/css-loader/css.ejs') %>

  <%- include('head/schema-loader/schema.ejs') %>

  <%- include('head/meta/meta-lang-loader.ejs') %>

  <%- include('head/alt-lang-page-setter/alt-lang-page.ejs') %>


  <!-- TODO to delete -->
  <meta name="botw-verify" content="u0l7hdo3" />
</head>







<body class="tm-bg-dark">


  <%- include('body2/nav.ejs') %>



  <main>

    <%- include('body2/brochure.ejs') %>


    <%- include('body2/main-services.ejs') %>

    <%- include('body2/areas.ejs') %>


    <%- include('body2/reviews.ejs') %>

    <%- include('body2/faq.ejs') %>




  </main>








  <%- include('footer/footer.ejs') %>




  </body>


</html>