<!DOCTYPE html>
<%- include('html/html-tag.ejs') %>

<head>

  <%- include('head/setup-pre-variables.ejs') %>
  
  <%- include('head/load-backend-variables/variables.ejs') %>
  
  <%- include('head/head-common-part1.ejs') %>
  
  <%- include('head/meta/meta-title-can.ejs') %>
  
  <%- include('head/css-loader/css.ejs') %>
  
  <%- include('head/schema-loader/schema.ejs') %>

  <%- include('head/meta/meta-lang-loader.ejs') %>
</head>








<body>

  <%- include('body/nav.ejs') %>







    <!-- Welcome Section -->

    <section id="tmWelcome" class="parallax-window" data-parallax="scroll" data-image-src="<%= welcome_section.banner_img_path %>"
      alt="<%= welcome_section.banner_img_alt %>">

      <%- include('body/welcome-section/part1.ejs') %>

      <div class="tm-bg-black-transparent tm-welcome-container">
        <div class="container-fluid">


          <div class="row h-100">

            <%- include('body/welcome-section/part2.ejs') %>

          </div>
        </div>
      </div>
    </section>
    <!-- End Welcome section -->





  <!-- Portfolio section -->

  <section id="tmPortfolio">
    <div class="container-fluid">

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63509.1635253364!2d-75.80609170992977!3d45.436933565835496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce028cacba247b%3A0xfe88e0713173d877!2s1700%20Chem.%20Pink%2C%20Gatineau%2C%20QC%20J9J%203N7%2C%20Canada!5e0!3m2!1sfr!2sus!4v1724431222023!5m2!1sfr!2sus" width="600" height="450" style="border:0; width: 100%; height: 450px; border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      <div id="org" class="row">
        <div class="col-12">



        <%- organization_page_data.page_content %>

        </div>
      </div>


    </div>
  </section>
  <!-- End portfolio section -->





  <%- include('footer/footer.ejs') %>

  </body>

</html>