<!DOCTYPE html>
<%- include('html/html-tag.ejs') %>

<head>

  <%- include('head/setup-pre-variables.ejs') %>
  
  <%- include('head/load-backend-variables/variables.ejs') %>
  
  <%- include('head/head-common-part1.ejs') %>
  
  <%- include('head/meta/meta-title-can.ejs') %>
  
  <%- include('head/css-loader/css.ejs') %>

  <%- include('head/meta/meta-lang-loader.ejs') %>

  <%- include('head/alt-lang-page-setter/alt-lang-page.ejs') %>
</head>




<body>


  <%- include('body/nav.ejs') %>



  <!-- Welcome Section -->

  <section id="tmWelcome" class="parallax-window" data-parallax="scroll" data-image-src="<%= welcome_section.banner_img_path %>"
    alt="<%= welcome_section.banner_img_alt %>">

    <%- include('body/welcome-section/part1.ejs') %>

    <div class="tm-bg-black-transparent tm-welcome-container">
      <div class="container-fluid">


        <div class="row h-100">

          <%- include('body/welcome-section/part2.ejs') %>

        </div>
      </div>
    </div>
  </section>
  <!-- End Welcome section -->




  <!-- Portfolio section -->
  <section id="tmPortfolio">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">



          
          <%- main_service_data %>

          <!-- < %- main_service_data.web_page_content %> -->
          <!-- < %- include('name-to-come1/name1.ejs') %> -->
          

          <!-- < %- ejs.render(main_service_data.web_page_content) %> -->



        </div>
      </div>
    </div>
  </section>
  <!-- End portfolio section -->




  <%- include('footer/footer.ejs') %>






</body>





</html>