<!DOCTYPE html>
<html lang="en">


<head>
  <%- include('head/setup-pre-variables.ejs') %>
  
  <!-- < %- include('head/load-backend-variables/variables.ejs') %> -->
  
  <%- include('head/head-common-part1.ejs') %>
  
  <%- include('head/meta-title-canonical-loader/meta-title-can.ejs') %>
  
  <%- include('head/css-loader/css.ejs') %>

  <meta name="googlebot" content="noindex">
  <meta name="robots" content="noindex">

</head>



<body>


  <%- include('body/nav.ejs') %>


  <!-- Welcome Section -->
  <section id="tmWelcome" class="parallax-window" data-parallax="scroll" data-image-src="<%= welcome_section_fr.banner_img_path %>"
    alt="<%= welcome_section_fr.banner_img_alt %>">

    <%- include('body/welcome-section/part1.ejs') %>

    <div class="tm-bg-black-transparent tm-welcome-container">
      <div class="container-fluid">


        <div class="row h-100">

          <%- include('body/welcome-section/part2.ejs') %>

        </div>
      </div>
    </div>
  </section>
  <!-- End Welcome section -->





  <!-- Portfolio section -->
  <section id="tmPortfolio">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">



          <div>
            <h2 class="tm-text-orange">Politique de Confidentialité</h2>
            <p>Date d'entrée en vigueur : 13 août 2024</p>
            <p>
                Pavage, l'asphalte et le béton résidentiel et commercial à Gatineau ("nous", "notre" ou "nos") exploite le site https://www.pavagegatineau.com/ (ci-après dénommé le "Service").
            </p>
            <p>
                Cette page vous informe de nos politiques concernant la collecte, l'utilisation et la divulgation des données personnelles lorsque vous utilisez notre Service et des choix que vous avez en lien avec ces données.
            </p>
            <p>
                Nous utilisons vos données pour fournir et améliorer le Service. En utilisant le Service, vous acceptez la collecte et l'utilisation des informations conformément à cette politique. Sauf définition contraire dans cette Politique de Confidentialité, les termes utilisés dans cette Politique de Confidentialité ont les mêmes significations que dans nos Conditions Générales d'Utilisation, accessibles depuis https://www.pavagegatineau.com/
            </p>
        
            <h3><strong>Définitions</strong></h3>
            <p><strong>Service</strong></p>
            <p>Le Service est le site https://www.pavagegatineau.com/ exploité par Pavage Gatineau</p>
            <p><strong>Données Personnelles</strong></p>
            <p>
                Les Données Personnelles désignent les données concernant un individu vivant qui peut être identifié à partir de ces données (ou à partir de ces informations et d'autres en notre possession ou susceptibles de venir en notre possession).
            </p>
            <p><strong>Données d'Utilisation</strong></p>
            <p>
                Les Données d'Utilisation sont des données collectées automatiquement, générées soit par l'utilisation du Service, soit par l'infrastructure du Service elle-même (par exemple, la durée de consultation d'une page).
            </p>
            <p><strong>Cookies</strong></p>
            <p>
                Les Cookies sont de petits fichiers stockés sur votre appareil (ordinateur ou appareil mobile).
            </p>
        
            <h3><strong>Collecte et Utilisation des Informations</strong></h3>
            <p>Nous collectons différents types d'informations pour diverses raisons afin de vous fournir et d'améliorer notre Service.</p>
        
            <h3><strong>Types de Données Collectées</strong></h3>
            <p><strong>Données Personnelles</strong></p>
            <p>
                Lors de l'utilisation de notre Service, il peut vous être demandé de nous fournir certaines informations personnelles identifiables qui peuvent être utilisées pour vous contacter ou vous identifier ("Données Personnelles"). Les informations personnelles identifiables peuvent inclure, mais ne se limitent pas à :
            </p>
            <ul>
                <li>Adresse e-mail</li>
                <li>Prénom et nom de famille</li>
                <li>Numéro de téléphone</li>
                <li>Cookies et Données d'Utilisation</li>
            </ul>
        
            <p><strong>Données d'Utilisation</strong></p>
            <p>
                Nous pouvons également collecter des informations sur la façon dont le Service est accédé et utilisé ("Données d'Utilisation"). Ces Données d'Utilisation peuvent inclure des informations telles que l'adresse de protocole Internet de votre ordinateur (par exemple, adresse IP), le type de navigateur, la version du navigateur, les pages de notre Service que vous visitez, l'heure et la date de votre visite, le temps passé sur ces pages, les identifiants uniques de l'appareil et d'autres données de diagnostic.
            </p>
        
            <h3><strong>Données de Suivi & Cookies</strong></h3>
            <p>
                Nous utilisons des cookies et des technologies de suivi similaires pour suivre l'activité sur notre Service et nous conservons certaines informations.
            </p>
            <p>
                Les cookies sont des fichiers contenant une petite quantité de données qui peuvent inclure un identifiant unique anonyme. Les cookies sont envoyés à votre navigateur depuis un site web et stockés sur votre appareil. D'autres technologies de suivi sont également utilisées telles que les balises, les tags et les scripts pour collecter et suivre les informations et pour améliorer et analyser notre Service.
            </p>
            <p>
                Vous pouvez demander à votre navigateur de refuser tous les cookies ou d'indiquer lorsqu'un cookie est envoyé. Cependant, si vous n'acceptez pas les cookies, il se peut que vous ne puissiez pas utiliser certaines parties de notre Service.
            </p>
            <p><strong>Exemples de Cookies que nous utilisons :</strong></p>
            <ul>
                <li>Cookies de Session. Nous utilisons des Cookies de Session pour faire fonctionner notre Service.</li>
                <li>Cookies de Préférence. Nous utilisons des Cookies de Préférence pour nous souvenir de vos préférences et de divers paramètres.</li>
                <li>Cookies de Sécurité. Nous utilisons des Cookies de Sécurité pour des raisons de sécurité.</li>
            </ul>
        
            <h3><strong>Utilisation des Données</strong></h3>
            <p>Pavage Gatineau utilise les données collectées à diverses fins :</p>
            <ul>
                <li>Pour fournir et maintenir le Service</li>
                <li>Pour vous notifier des changements apportés à notre Service</li>
                <li>Pour vous permettre de participer aux fonctionnalités interactives de notre Service lorsque vous choisissez de le faire</li>
                <li>Pour fournir un support client</li>
                <li>Pour fournir des analyses ou des informations précieuses afin que nous puissions améliorer le Service</li>
                <li>Pour surveiller l'utilisation du Service</li>
                <li>Pour détecter, prévenir et résoudre les problèmes techniques</li>
            </ul>
        
            <h3><strong>Transfert des Données</strong></h3>
            <p>
                Vos informations, y compris vos Données Personnelles, peuvent être transférées - et maintenues - sur des ordinateurs situés en dehors de votre état, province, pays ou autre juridiction gouvernementale où les lois de protection des données peuvent différer de celles de votre juridiction.
            </p>
            <p>
                Si vous êtes situé en dehors du Canada et que vous choisissez de nous fournir des informations, veuillez noter que nous transférons les données, y compris les Données Personnelles, au Canada et que nous les traitons là-bas.
            </p>
            <p>
                Votre consentement à cette Politique de Confidentialité suivi de votre soumission de telles informations représente votre accord à ce transfert.
            </p>
            <p>
                Pavage Gatineau prendra toutes les mesures raisonnablement nécessaires pour s'assurer que vos données sont traitées de manière sécurisée et conformément à cette Politique de Confidentialité et aucun transfert de vos Données Personnelles n'aura lieu vers une organisation ou un pays à moins que des contrôles adéquats ne soient en place, y compris la sécurité de vos données et autres informations personnelles.
            </p>
        
            <h3><strong>Divulgation des Données</strong></h3>
            <p><strong>Exigences Légales</strong></p>
            <p>
                Pavage Gatineau peut divulguer vos Données Personnelles de bonne foi, croyant qu'une telle action est nécessaire pour :
            </p>
            <ul>
                <li>Se conformer à une obligation légale</li>
                <li>Protéger et défendre les droits ou la propriété de Pavage Gatineau</li>
                <li>Prévenir ou enquêter sur d'éventuels actes répréhensibles en relation avec le Service</li>
                <li>Protéger la sécurité personnelle des utilisateurs du Service ou du public</li>
                <li>Se protéger contre la responsabilité légale</li>
            </ul>
        
            <h3><strong>Sécurité des Données</strong></h3>
            <p>
                La sécurité de vos données est importante pour nous mais n'oubliez pas qu'aucune méthode de transmission sur Internet ou méthode de stockage électronique n'est 100% sécurisée. Bien que nous nous efforcions d'utiliser des moyens commercialement acceptables pour protéger vos Données Personnelles, nous ne pouvons garantir leur sécurité absolue.
            </p>
        
            <h3><strong>Fournisseurs de Services</strong></h3>
            <p>
                Nous pouvons employer des sociétés tierces et des individus pour faciliter notre Service ("Fournisseurs de Services"), pour fournir le Service en notre nom, pour effectuer des services liés au Service ou pour nous aider à analyser comment notre Service est utilisé.
            </p>
            <p>
                Ces tiers ont accès à vos Données Personnelles uniquement pour effectuer ces tâches en notre nom et sont tenus de ne pas les divulguer ou les utiliser à d'autres fins.
            </p>
        
            <h3><strong>Liens Vers D'autres Sites</strong></h3>
            <p>
                Notre Service peut contenir des liens vers d'autres sites qui ne sont pas exploités par nous. Si vous cliquez sur un lien tiers, vous serez dirigé vers ce site tiers. Nous vous conseillons fortement de consulter la Politique de Confidentialité de chaque site que vous visitez.
            </p>
            <p>
                Nous n'avons aucun contrôle sur et n'assumons aucune responsabilité pour le contenu, les politiques de confidentialité ou les pratiques de tout site tiers ou service.
            </p>
        
            <h3><strong>Confidentialité des Enfants</strong></h3>
            <p>
                Notre Service ne s'adresse à personne de moins de 18 ans ("Enfants").
            </p>
            <p>
                Nous ne collectons pas sciemment d'informations personnellement identifiables auprès de personnes de moins de 18 ans. Si vous êtes un parent ou un tuteur et que vous êtes conscient que votre enfant nous a fourni des Données Personnelles, veuillez <a href='/' target='_blank'>nous contacter</a>. Si nous prenons conscience que nous avons collecté des Données Personnelles auprès d'enfants sans vérification du consentement parental, nous prenons des mesures pour supprimer ces informations de nos serveurs.
            </p>
        
            <h3><strong>Modifications de cette Politique de Confidentialité</strong></h3>
            <p>
                Nous pouvons mettre à jour notre Politique de Confidentialité de temps en temps. Nous vous informerons de tout changement en publiant la nouvelle Politique de Confidentialité sur cette page.
            </p>
            <p>
                Nous vous informerons par e-mail et/ou par un avis bien visible sur notre Service, avant que la modification ne prenne effet et nous mettrons à jour la "date d'entrée en vigueur" en haut de cette Politique de Confidentialité.
            </p>
            <p>
                Vous êtes conseillé de consulter cette Politique de Confidentialité périodiquement pour tout changement. Les modifications apportées à cette Politique de Confidentialité sont effectives lorsqu'elles sont publiées sur cette page.
            </p>
        
            <h3><strong>Contactez-nous</strong></h3>
            <p class="mb-0">
                Si vous avez des questions concernant cette Politique de Confidentialité, veuillez <a href='/' target='_blank'>nous contacter</a> :
            </p>
            <ul>
                <li>Par téléphone : <%= business_data_fr.telephone %></li>
                <li>Par courrier : <%= business_data_fr.street_address %> <%= business_data_fr.address_city %>, <%= business_data_fr.address_province_state %> <%= business_data_fr.postal_code %> <%= business_data_fr.address_country %></li>
            </ul>
        </div>
        



        </div>
      </div>
    </div>
  </section>
  <!-- End portfolio section -->





  <%- include('footer/footer.ejs') %>




</body>





</html>