<nav id="top">
  <a href="/">
    <img src="/img/logo_head2.png" alt="<%= nav.logo_img_alt %>" width="60px" height="60px">
  </a>
  <a href="/demande-de-devis-gratuit">
    <%= nav.op1 %>
  </a>
  <a target="_blank" href="<%= business_data.calendly_link %>"> 
    <%= nav.op2 %>
  </a>
  <% if (is_english) { %>
    <a href="/">Fr <img src="/img/quebec2.svg" alt="" style="width: 30px; height: 30px;"></a>
  <% } else { %>
    <a href="/en">En 🇨🇦</a>
  <% } %>
  <a href="tel:<%= business_data.telephone2 %>">
    <%= business_data.telephone %>
  </a>

</nav>