<nav id="top">
  
  <% if (is_english) { %>
    <a href="/en">
      <img src="/img/logo_head2.png" alt="<%= nav.logo_img_alt %>" width="60px" height="60px">
    </a>
  <% } else { %>
    <a href="/">
      <img src="/img/logo_head2.png" alt="<%= nav.logo_img_alt %>" width="60px" height="60px">
    </a>
  <% } %>


  <a href="<%= nav.op1_link %>">
    <%= nav.op1 %>
  </a>
  <a target="_blank" href="<%= business_data.calendly_link %>"> 
    <%= nav.op2 %>
  </a>

  <% if (is_english) { %>
    <a href="<%= all_data_per_page.eq_lang_page %>">Fr <img src="/img/quebec2.svg" alt="" style="width: 30px; height: 30px;"></a>
  <% } else { %>
    <a href="<%= all_data_per_page.eq_lang_page %>">En 🇨🇦</a>
  <% } %>

  <a href="tel:<%= business_data.telephone2 %>">
    <%= business_data.telephone %>
  </a>

</nav>