<nav id="top">
  <a href="/">
    <img src="/img/logo_head2.png" alt="<%= nav_fr.logo_img_alt %>" width="60px" height="60px">
  </a>
  <a href="/demande-de-devis-gratuit">
    <%= nav_fr.op1 %>
  </a>
  <a target="_blank" href="https://calendly.com/drywallkingston/30min">
    <%= nav_fr.op2 %>
  </a>
  <a href="tel:<%= business_data_fr.telephone2 %>">
    <%= business_data_fr.telephone %>
  </a>
</nav>