
<!-- Portfolio section -->
<section id="tmPortfolio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <div>
          <h2 class="category-template"><%= category.category_name %></h2>
          <h3>Blog Postings</h3>


            <ul>

              <% if (is_english) { %>

                <% blog_elements.forEach(function(blog) { %>
                  <li>
                    <a href="/blog/<%= category.slug.replace(/\/en$/, '') %>/blog-posting/<%= blog.slug %>" class="category-link">
                      <%= blog.title %>
                    </a>
                  </li>
                <% }); %>
              
              <% } else { %>

                <% blog_elements.forEach(function(blog) { %>
                  <li>
                    <a href="/blog/<%= category.slug %>/blog-posting/<%= blog.slug %>" class="category-link">
                      <%= blog.title %>
                    </a>
                  </li>
                <% }); %>

              <% } %>





            </ul>
        </div>

      </div>
    </div>
  </div>
</section>