<% if (req_path === '/' || req_path === '/en') { %>


  <title><%= all_data_per_page.title %></title>
  <meta name="title" content="<%= all_data_per_page.title %>">
  <meta name="description" content="<%= all_data_per_page.description %>">
  <link rel="canonical" href='<%= req_path %>'>




<% } else if (req_path === '/demande-de-devis-gratuit' || req_path === '/request-a-free-quote/en') { %>

  <!-- <title>Demande de devis gratuit</title> -->
  <title><%= all_data_per_page.title %></title>
  
  <meta name="title" content="<%= all_data_per_page.title %>">
  <meta name="description" content="<%= all_data_per_page.description %>">
  <link rel="canonical" href='<%= req_path %>'>


<% } else if (req_path === '/organisation' || req_path === '/organization/en') { %>

  <title><%= all_data_per_page.title %></title>
  <meta name="title" content="<%= all_data_per_page.title %>">
  <meta name="description"
    content="<%= all_data_per_page.description %>">
  <link rel="canonical" href='<%= req_path %>'>



<% } else if (req_path === '/a-propos' || req_path === '/about/en') { %>

  <title><%= all_data_per_page.title %></title>
  <meta name="title" content="<%= all_data_per_page.title %>">
  <meta name="description"
    content="<%= all_data_per_page.description %>">
  <link rel="canonical" href='<%= req_path %>'>




<% } else if (req_path === '/service/pavage-residentiel-et-commercial-a-gatineau' || req_path === '/service/residential-and-commercial-paving-in-gatineau/en') { %>

  <title><%= all_data_per_page.title %></title>
  <meta name="title" content="<%= all_data_per_page.title %>">
  <meta name="description"
    content="<%= all_data_per_page.description %>">
  <link rel="canonical" href='<%= req_path %>'>


<% } else if (req_path === '/service/revetement-maintenance-en-asphalte-gatineau' || req_path === '/service/asphalt-maintenance-coating-gatineau/en') { %>

  <title><%= all_data_per_page.title %></title>
  <meta name="title" content="<%= all_data_per_page.title %>">
  <meta name="description"
    content="<%= all_data_per_page.description %>">
  <link rel="canonical" href='<%= req_path %>'>
  


<% } else if (req_path === '/service/travaux-en-beton-residentiel-et-commercial-a-gatineau' || req_path === '/service/residential-and-commercial-concrete-works-in-gatineau/en') { %>

  <title><%= all_data_per_page.title %></title>
  <meta name="title" content="<%= all_data_per_page.title %>">
  <meta name="description"
    content="<%= all_data_per_page.description %>">
  <link rel="canonical" href='<%= req_path %>'>
  
<% } else if (req_path.startsWith('/service')) { %>

  <title><%= extra_service_page.title %></title>
  <meta name="title" content="<%= extra_service_page.title %>">
  <meta name="description"
    content="<%= extra_service_page.description %>">
  <!-- <link rel="canonical" href='/service/< %= extra_service_page.slug %>'> -->
  <link rel="canonical" href='<%= req_path %>'>



<% } else if (/^\/blog\/[^\/]+\/blog-posting\/[^\/]+$/.test(req_path)) { %>

  <title><%= blogData.title %></title>
  <meta name="title" content="<%= blogData.title %>">
  <meta name="description"
    content="<%= blogData.meta_description %>">
  <link rel="canonical" href='/blog/<%= blogData.category.slug %>/blog-posting/<%= blogData.slug %>'>




  <% } else if (req_path === '/blog' || req_path === '/blog/en') { %>

    <title><%= all_data_per_page.title %></title>
    <meta name="title" content="<%= all_data_per_page.title %>">
    <meta name="description"
      content="<%= all_data_per_page.description %>">
    <link rel="canonical" href='<%= req_path %>'>






<% } else if (req_path.startsWith('/blog')) { %>

  <title><%= category_fr.category_name %></title>
  <meta name="title" content="<%= category_fr.category_name %>">
  <meta name="description"
    content="<%= category_fr.category_description %>">
  <link rel="canonical" href='/blog/<%= category_fr.slug %>'>
    


<% } else if (req_path === '/plan-du-site') { %>


  <title><%= plan_du_site_page_fr.title %></title>
  <meta name="title" content="<%= plan_du_site_page_fr.title %>">
  <meta name="description"
    content="<%= plan_du_site_page_fr.meta_description %>">
  <link rel="canonical" href='/plan-du-site'>
  
  

<% } else if (req_path === '/tiroir1/mention-legale') { %>


  <title><%= all_data_per_page_fr.title %></title>
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description"
    content="<%= all_data_per_page_fr.meta_description %>">
  <link rel="canonical" href='/tiroir1/mention-legale'>
  
    


<% } else if (req_path === '/tiroir1/politique-de-confidentialite') { %>


  <title><%= all_data_per_page_fr.title %></title>
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description"
    content="<%= all_data_per_page_fr.meta_description %>">
  <link rel="canonical" href='/tiroir1/politique-de-confidentialite'>
  
    


<% } else { %>
  <p>Status is unknown. 2</p>
<% } %>





