<% if (req_path === '/') { %>


  <title><%= all_data_per_page_fr.title %></title>
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description" content="<%= all_data_per_page_fr.description %>">
  <link rel="canonical" href='/'>

<% } else if (req_path === '/demande-de-devis-gratuit') { %>

  <!-- <title>Demande de devis gratuit</title> -->
  <title><%= all_data_per_page_fr.title %></title>
  
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description" content="<%= all_data_per_page_fr.description %>">
  <link rel="canonical" href='/demande-de-devis-gratuit'>


<% } else if (req_path === '/organisation') { %>

  <title><%= all_data_per_page_fr.title %></title>
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description"
    content="<%= all_data_per_page_fr.description %>">
  <link rel="canonical" href='/organization'>

<% } else if (req_path === '/a-propos') { %>

  <title><%= all_data_per_page_fr.title %></title>
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description"
    content="<%= all_data_per_page_fr.description %>">
  <link rel="canonical" href='/a-propos'>


<% } else if (req_path === '/service/pavage-residentiel-et-commercial-a-gatineau') { %>

  <title><%= all_data_per_page_fr.title %></title>
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description"
    content="<%= all_data_per_page_fr.description %>">
  <link rel="canonical" href='/service/pavage-residentiel-et-commercial-a-gatineau'>


<% } else if (req_path === '/service/revetement-maintenance-en-asphalte-gatineau') { %>

  <title><%= all_data_per_page_fr.title %></title>
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description"
    content="<%= all_data_per_page_fr.description %>">
  <link rel="canonical" href='/service/revetement-maintenance-en-asphalte-gatineau'>
  


<% } else if (req_path === '/service/travaux-en-beton-residentiel-et-commercial-a-gatineau') { %>

  <title><%= all_data_per_page_fr.title %></title>
  <meta name="title" content="<%= all_data_per_page_fr.title %>">
  <meta name="description"
    content="<%= all_data_per_page_fr.description %>">
  <link rel="canonical" href='/service/travaux-en-beton-residentiel-et-commercial-a-gatineau'>
  
<% } else if (req_path.startsWith('/service')) { %>

  <title><%= extra_service_page_fr.title %></title>
  <meta name="title" content="<%= extra_service_page_fr.title %>">
  <meta name="description"
    content="<%= extra_service_page_fr.description %>">
  <link rel="canonical" href='/service/<%= extra_service_page_fr.slug %>'>



<% } else if (/^\/blog\/[^\/]+\/blog-posting\/[^\/]+$/.test(req_path)) { %>

  <title><%= blogData.title %></title>
  <meta name="title" content="<%= blogData.title %>">
  <meta name="description"
    content="<%= blogData.meta_description %>">
  <link rel="canonical" href='/blog/<%= blogData.category.slug %>/blog-posting/<%= blogData.slug %>'>




  <% } else if (req_path === '/blog') { %>

    <title><%= all_data_per_page_fr.title %></title>
    <meta name="title" content="<%= all_data_per_page_fr.title %>">
    <meta name="description"
      content="<%= all_data_per_page_fr.description %>">
    <link rel="canonical" href='/blog'>






<% } else if (req_path.startsWith('/blog')) { %>

  <title><%= category_fr.category_name %></title>
  <meta name="title" content="<%= category_fr.category_name %>">
  <meta name="description"
    content="<%= category_fr.category_description %>">
  <link rel="canonical" href='/blog/<%= category_fr.slug %>'>
    

<% } else { %>
  <p>Status is unknown. 2</p>
<% } %>





