<!-- TODO make sure page is responsive -->
<!-- TODO update colors -->
<!-- TODO make sure this works universally throughout the site 2 -->
<div id="page-content">
    <div class="padding1">
        <%- legal_notice_page.html_content %>
    </div>
</div>






<div id="body">

    <main class="tm-container masonry">
      <div class="item tm-bg-white tm-block tm-block-left" data-desktop-seq-no="1" data-mobile-seq-no="1">
        <!-- TODO re-adjust p tag as in a div (div > p + a)-->
        <p class="tm-hero-text"><%= all_data_per_page.under_h1 %></p>
          
          <header class="tm-block-brand">
              <div class="tm-bg-primary-dark tm-text-white tm-block-brand-inner">
                  <i class="fas fa-braille fa-3x"></i>
                  <h1 class="tm-brand-name"><%= all_data_per_page.title %></h1> 🇨🇦
              </div>
          </header>


      </div>




      <div class="item" data-desktop-seq-no="2" data-mobile-seq-no="4">
        <img src="/img2/image-01.jpg" alt="Image" class="tm-img-left">
        <!-- TODO replace with the map below once the map is the same dimension as the template's required design -->
        <!-- <a href="< %= welcome_section.op1_link %>">
            <img src="/img/map1_op.avif" alt="< %= welcome_section.map_img_alt %>">
        </a> -->
      </div>
      <div class="item tm-bg-secondary tm-text-white tm-block tm-block-wider tm-block-pad tm-block-left-2" data-desktop-seq-no="3"
          data-mobile-seq-no="5">
          <i class="fas fa-award fa-4x tm-block-icon"></i>
          <!-- TODO replace content -->
          <p>Maecenas scelerisque ex neque, vel ultrices purus pharetra sit amet. Donec consectetur ipsum in elit eleifend
              porta. Morbi bibendum porttitor dui. Proin molestie purus non nisi blandit rutrum.</p>
          <div class="tm-text-right">
              <!-- <a href="#" class="tm-btn tm-btn-small tm-btn-primary tm-mt">Read More</a> -->
              <a href="tel:<%= business_data.telephone2 %>" class="tm-btn tm-btn-small tm-btn-primary tm-mt"><%= business_data.telephone %></a>
          </div>
      </div>
      <div class="item" data-desktop-seq-no="4" data-mobile-seq-no="8">
          <img src="/img2/image-04.jpg" alt="Image" class="tm-img-left">
      </div>


      <!-- TODO update QR code and content -->
      <div class="tm-footer" id="tmFooter" data-desktop-seq-no="5" data-mobile-seq-no="9">
        <img src="/img2/qr-link-tooplate.png" alt="QR Code" class="tm-img-qr">
        <div>
            <p class="tm-mb-small">Copyright © 2018 Company Name</p>
            <p>Designed by <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a></p>
        </div>
    </div>
      


      <div class="item" data-desktop-seq-no="6" data-mobile-seq-no="2">
        <img src="/img2/image-02.jpg" alt="Image">
        <!-- TODO use image below after sesized to the templates ideal ratio and dimensions -->
        <!-- <img src="< %= welcome_section.banner_img_path %>" alt="< %= welcome_section.banner_img_alt %>"> -->
      </div>

      <div class="item tm-block-right" data-desktop-seq-no="7" data-mobile-seq-no="3">
          <div class="tm-block-right-inner tm-bg-primary-light tm-text-white tm-block tm-block-wider tm-block-pad">
              <header>
                    <span class="tm-text-uppercase"><%= welcome_section.op1 %></span>
              </header>

              <div itemscope itemtype="https://schema.org/Organization">
                <a rel="nofollow" href="<%= welcome_section.op1_link %>" itemprop="url"><%= business_data.street_address %>
                    <%= business_data.address_city %>, <%= business_data.address_province_state %>
                    <%= business_data.postal_code %>
                    <%= business_data.address_country %>
                  </a>
              </div>

              <div>
                <a style="text-decoration: underline;" href="<%= welcome_section.op2_link %>"><%= welcome_section.op2 %></a>
              </div>
          </div>
      </div>







    
      <div class="item" data-desktop-seq-no="8" data-mobile-seq-no="6">
          <img src="/img2/image-03.jpg" alt="Image">
      </div>
    
      <div class="item tm-bg-white tm-block tm-form-section" data-desktop-seq-no="9" data-mobile-seq-no="7">
          <div class="tm-form-container tm-block-pad tm-pb-0">
              <header>
                    <!-- TODO setup the needed form -->
                  <h2 class="tm-text-uppercase tm-text-gray-light tm-mb">
                      Contact Us
                  </h2>
              </header>
    
              <form action="index.html" class="tm-contact-form" method="POST">
                  <div class="tm-form-group">
                      <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Name" required/>
                  </div>
                  <div class="tm-form-group">
                      <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email" required/>
                  </div>
                  <div class="tm-form-group">
                      <textarea rows="5" id="contact_message" name="contact_message" class="form-control" placeholder="Message" required></textarea>
                  </div>
                  <div class="tm-text-right">
                      <button type="submit" class="tm-btn tm-btn-secondary tm-btn-pad-big">Send</button>
                  </div>
              </form>
    
          </div>
    
          <div class="tm-form-section-tag">
              <div class="tm-bg-secondary tm-text-white tm-block-pad tm-form-section-tag-inner">
                  <header>
                    <!-- TODO replace content -->
                      <h2>Proin imperdiet commodo nisi</h2>
                  </header>
                  <p>Mauris sodales vulputate ante a dapibus Donec vitae maximus dolor, pharetra imperdiet lectus. Praesent
                      pharetra elit ac est congue volutpat.</p>
              </div>
          </div>
      </div>
    
    </main>



</div>



<%- include('../js2/site2-scripts.ejs') %>