<div id="body">
    <main class="tm-container masonry">
        
        <!-- Welcome Section (from Site 1) -->
        <div class="item tm-bg-white tm-block tm-block-left" data-desktop-seq-no="1" data-mobile-seq-no="1">
            <p class="tm-hero-text">XXX</p>
            <header class="tm-block-brand">
                <div class="tm-bg-primary-dark tm-text-white tm-block-brand-inner">
                    <i class="fas fa-braille fa-3x"></i>
                    <h1 class="tm-brand-name"><%= all_data_per_page.title %></h1>
                </div>
            </header>
        </div>

        <!-- Site 2 Image Section (mapping Site 1 banner image) -->
        <div class="item" data-desktop-seq-no="2" data-mobile-seq-no="4">
            <img src="<%= welcome_section.banner_img_path %>" alt="<%= welcome_section.banner_img_alt %>" class="tm-img-left">
        </div>

        <!-- Description Section (from Site 1 - under_h1) -->
        <div class="item tm-bg-secondary tm-text-white tm-block tm-block-wider tm-block-pad tm-block-left-2" data-desktop-seq-no="3" data-mobile-seq-no="5">
            <i class="fas fa-award fa-4x tm-block-icon"></i>
            <p><%= all_data_per_page.under_h1 %></p>
            <div class="tm-text-right">
                <a href="<%= business_data.calendly_link %>" class="tm-btn tm-btn-small tm-btn-primary tm-mt"><%= nav.op2 %></a>
            </div>
        </div>

        <!-- Additional Image Section -->
        <div class="item" data-desktop-seq-no="4" data-mobile-seq-no="8">
            <img src="/img2/image-04.jpg" alt="Image" class="tm-img-left">
        </div>

        <!-- Contact Section (from Site 1 - welcome_section link and business address) -->
        <div class="item tm-block-right" data-desktop-seq-no="7" data-mobile-seq-no="3">
            <div class="tm-block-right-inner tm-bg-primary-light tm-text-white tm-block tm-block-wider tm-block-pad">
                <header>
                    <h2 class="tm-text-uppercase">
                        <%= welcome_section.op1 %>
                    </h2>
                </header>
                <p>You can contact us directly at the following address:</p>
                <p><a href="<%= welcome_section.op1_link %>"><%= business_data.street_address %>, <%= business_data.address_city %>, <%= business_data.address_province_state %>, <%= business_data.postal_code %>, <%= business_data.address_country %></a></p>
                <p class="tm-mt tm-mb-small">
                    <a style="text-decoration: underline;" href="<%= welcome_section.op2_link %>"><%= welcome_section.op2 %></a>
                </p>
            </div>
        </div>

        <!-- Legal Notice and Additional Section -->
        <div class="item tm-bg-white tm-block tm-form-section" data-desktop-seq-no="9" data-mobile-seq-no="7">
            <div class="tm-form-container tm-block-pad tm-pb-0">
                <header>
                    <h2 class="tm-text-uppercase tm-text-gray-light tm-mb">
                        Contact Us
                    </h2>
                </header>

                <!-- Contact Form -->
                <form action="index.html" class="tm-contact-form" method="POST">
                    <div class="tm-form-group">
                        <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Name" required/>
                    </div>
                    <div class="tm-form-group">
                        <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email" required/>
                    </div>
                    <div class="tm-form-group">
                        <textarea rows="5" id="contact_message" name="contact_message" class="form-control" placeholder="Message" required></textarea>
                    </div>
                    <div class="tm-text-right">
                        <button type="submit" class="tm-btn tm-btn-secondary tm-btn-pad-big">Send</button>
                    </div>
                </form>

            </div>

            <div class="tm-form-section-tag">
                <div class="tm-bg-secondary tm-text-white tm-block-pad tm-form-section-tag-inner">
                    <header>
                        <h2>Legal Information</h2>
                    </header>
                    <p><%= legal_notice_page.html_content %></p>
                </div>
            </div>
        </div>
        
        <!-- Footer Section -->
        <div class="tm-footer" id="tmFooter" data-desktop-seq-no="5" data-mobile-seq-no="9">
            <img src="/img2/qr-link-tooplate.png" alt="QR Code" class="tm-img-qr">
            <div>
                <p class="tm-mb-small">Copyright &copy; 2018 <%= business_data.business_name %></p>
                <p>Designed by <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a></p>
            </div>
        </div>

        <!-- More Images or Sections (optional) -->
        <div class="item" data-desktop-seq-no="6" data-mobile-seq-no="2">
            <img src="/img2/image-02.jpg" alt="Image">
        </div>

        <!-- Site footer and legal disclaimers -->
        <div class="item tm-bg-white tm-block tm-footer-section" data-desktop-seq-no="8" data-mobile-seq-no="6">
            <footer>
                <p><%= footer.legal_disclaimer %></p>
                <p><a href="<%= footer.sitemap_path %>">Sitemap</a> | <a href="<%= footer.blog_path %>">Blog</a> | <a href="<%= footer.privacy_policy_path %>">Privacy Policy</a></p>
            </footer>
        </div>

    </main>
</div>

<%- include('../js2/site2-scripts.ejs') %>
