<div class="col-12 spacing">


  <% main_service_data.forEach((service, i)=> { %>

    <div class="tm-portfolio-item">

      <img class="main" src="<%= service.service_image_path %>" alt="<%= service.service_image_description %>">

      <div class="tm-portfolio-description">
        <h2>
          <%= service.service_name %>
            <a class="tm-title-small" href="/service/<%= service.slug %>">
              <u><%= portfolio_section.op1 %></u>
            </a>
        </h2>
        <p class="mb-0">
        <h3>
          <%= service.service_sub_title %>
        </h3>
        <div><%- service.service_description %></div>
        </p>
      </div>
    </div>
  <% }); %>



  <%
    const more_service_img_alt = is_english ? "A newly installed driveway with smooth, fresh asphalt." : "Une allée nouvellement installée avec de l'asphalte lisse et frais.";
  %>

  <div class="tm-portfolio-item">

    <img src="/img2/un.webp" alt="<%= more_service_img_alt %>">

    <div class="tm-portfolio-description">
      <h2 class="tm-text-black">
        <%= portfolio_section.op2 %>
        <a class="tm-title-small" href="#">
          <%= portfolio_section.op1 %>
        </a>
      </h2>
      
      <p class="mb-0">
        <div>
          <ul>
            <% extra_service_pages.forEach(function(service) { %>
              <li><a href="/service/<%= service.slug %>"><%= service.title %></a></li>
            <% }); %>
          </ul>


        </div>
      </p>

    </div>
    
  </div>




  <% index_content.forEach((content, i)=> { %>

    
    
    <div class="tm-portfolio-item">
      <img src="<%= content.img_path %>" alt="<%= content.img_alt %>">

      <div class="tm-portfolio-description">
        <h2 class="tm-text-black">
          <%= content.title %>
        </h2>

        <p class="mb-0">
          <h3><%= content.sub_title %></h3>
          <div><%= content.content %></div>
        </p>
      </div>
    </div>

  <% }); %>










</div>